<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 9 years of strong experience in the Software Development Methodology such as SDLC, Agile, Analysis, requirements gathering, design, development, testing, deployment of software applications using Java & J2EE, Spring, Struts, Hibernate, Jersey and Front End Apps using JQuery, AJAX, JavaScript, CSS, Ember JS, Angular JS, React, Kendo JS, Adobe Flex including profound experience working on various databases like Oracle, Teradata, Postgres, Mysql and concepts like SQL, Data Manipulation, Analysis, Stored Procedures, Tuning, Optimization, Data Modelling etc.,</p>
        <p>
           I enjoy solving problems, developing data driven applications especially transaction based and also data analysis.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed multiple applications at Trinity health from Scratch which are still in production running successfully.
    			</li>
          <li>
            Undertook database layer when the team lost few database developers within a short span and helped finish the project on time.
          <li>
            Led an application development team including providing Business knowledge of application to the team. 
    			<li>
            Multiple appreciations from the Client many a times due to timely deliverables.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
