<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have About 9 years of experience in the database design, development using Oracle and Teradata and development of software applications using Java & J2EE, Spring, Struts, Hibernate, Jersey and Front End Apps using JQuery, AJAX, JavaScript, CSS, Ember JS, Angular JS, React, Kendo JS, Adobe Flex(MXML and Action Script) in all the phases of the Software development lifecycle. 
        </p>
        <p>
           I enjoy solving problems, developing data driven applications especially transaction based and also data analysis.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed multiple applications at Trinity health from Scratch and are in production.
    			</li>
          <li>
            Undertook database layer when the team lost few database layers within a short span and finished the project on time.
          <li>
            Led an application development team including providing Business knowledge of application to the team. 
    			<li>
            Multiple appreciations from the Client many a times due to timely deliverables.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
