<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
				<li>
					<b>Block Chain</b>. •	Exploring Blockchain Technology especially Ethereum Blockchain to create Decentralized Applications based on Smart Contracts protocol.
				 </li>
				 <li>
					<b>React Native</b>. •	•	Working on a mobile application using React – Native, An Open source mobile application framework.
				 </li>
			<li>
				 <b>Cloud Services</b>. Cloud Computing took over the Application development space in the last decade and I'm focusing on understanding various features, pros/cons of different services.
			  </li>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Space Observer</b>. I am fascinated by Space, it's vastness and how miniscule we are compared to it but at the same time amazed by our abilities.
			  </li>
			  <li>
				  <b>Running</b>. Started running 3 years ago and became a fan ever since. I Participated in my first Half Marathon on Sept 2019 and hoping to make it for Marathon in 2020.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Planning a small project of my own, will update soon.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Church
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
